body{

  background-color: #082032;
  align-items:center;


}

div{
  margin:auto;

}


li{


  font-family: 'Hina Mincho', serif;
}

.big{

display: block;
margin-bottom: 150px;


}


.cent{

    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
color: #F7D59C;
font-family: cursive;
margin-bottom: 5px;

}

span{
  margin-left: 3%;
}
.skill{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;


}
.skill1{

    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: white;

  text-align: center;

}

.cert{

  margin-top: 0px;
display: inline-block;
position: relative;
left: 44%;
color: #F7D59C;
font-family: cursive;
margin-bottom: 5px;
}
.cert1{

  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
color: #F7D59C;
font-family: cursive;
margin-bottom: 5px;
text-align: center;
}

.prof{


  position: relative;
  margin-left: auto;
  margin-right: auto;
color: #F7D59C;
font-family: cursive;
margin-bottom: 5px;
align-items: center;
text-align: center;
}
.acad{

  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
color: #F7D59C;
font-family: cursive;
margin-bottom: 5px;
}
.titles{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: #F7D59C;
  font-family: monospace;
  margin-bottom: 5px;

}

.imgsmall{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  height: 80px;
  width: 80px;
  margin-bottom: 0px;

}

.image{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;

height: 300px;
width: 300px;
margin-bottom: 0px;
}


.name{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
color: #F7D59C;
font-family: cursive;
margin-bottom: 5px;
}

.details{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
color: white;
font-family: monospace;
margin-bottom: 5px;
}

.Linkedin{
display: inline-block;
position:relative;
left: 45%;
height: 30px;
width: 30px;
margin-top: 0px;
margin-bottom: 5px;
}

.insta{
  display: inline;
  margin-left: auto;

  text-align: center;
  align-items: center;

  height: 25px;
  width: 25px;

}

.links{

  display: inline;
  position: relative;
  margin-left: 45%;
  margin-right: auto;
  text-align: center;
  align-items: center;
}



.facebook{
display: inline-block;
position:relative;
left: 45%;
height: 30px;
width: 30px;
margin-top: 0px;
margin-bottom: 5px;
}

.table{
color: white;
padding-right: 7px;
position:relative;

}

.hackerrank{
display: inline-block;
position:relative;
left: 45%;
height: 60px;
width: 60px;
margin-top: 0px;
margin-bottom: 0px;
}

hr{

  width:15%;
  border-style:none;
  border-top-style:dotted;
  border-width:10px;
  color:grey;
  margin-left: 44%;;

}

td{

  color: white;
  padding-right: 7px;
  position:relative;
}

#space{
position: relative;
  width: 200px;
}
#space1{
position: relative;
  width: 285px;
}

.company_logo{


  display: inline-block;
  position:relative;
  left: 140%;
  height: 80px;
  width: 80px;
  margin-top: 0px;
  margin-bottom: 0px;

}
.company_logo1{


  display: inline-block;
  position:relative;
  left: 160%;
  height: 80px;
  width: 80px;
  margin-top: 0px;
  margin-bottom: 0px;

}
